#SPDX-License-Identifier: MIT-0
---
# tasks file for docker_host
- name: Install prerequisites (Debian/Ubuntu)
  ansible.builtin.apt:
    name:
      - curl
      - ca-certificates
      - gnupg
      - lsb-release
      - python3-pip
    state: present
    update_cache: yes
  when: ansible_pkg_mgr == "apt"

- name: Add Docker GPG key (Debian/Ubuntu)
  block:
    - name: Create key directory
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"

    - name: Download Docker GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"

    - name: Add Docker repo (Debian/Ubuntu)
      ansible.builtin.copy:
        dest: /etc/apt/sources.list.d/docker.sources
        content: |
          Types: deb
          URIs: https://download.docker.com/linux/{{ ansible_distribution | lower }}
          Suites: {{ ansible_distribution_release }}
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
        mode: "0644"
      notify: update apt cache

  when: ansible_pkg_mgr == "apt"

- name: Update package cache
  meta: flush_handlers

- name: Install Docker packages
  ansible.builtin.package:
    name:
      - docker-{{ docker_edition }}
      - docker-{{ docker_edition }}-cli
      - containerd.io
    state: present

- name: Install docker-compose-plugin (optional)
  ansible.builtin.package:
    name: docker-compose-plugin
    state: present
  when: docker_compose_install

- name: Ensure Docker service is started and enabled
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ docker_user }}"
    groups: docker
    append: yes
  notify: restart ssh # Reconnect if needed

- name: Install Python Docker SDK (optional)
  ansible.builtin.pip:
    name: docker
    state: present
  when: docker_python_sdk
